.nav-item {
    transition: all .3s ease-in-out;    
}

.nav-item:hover {
    background-color: #776228f0;
    color: aliceblue;
}

.home-footer {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    padding-left: 15px;
}
.home-footer p {
    font-size: 10px;
}